/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image: url(asset-path("background.jpg"));
}

#banner {
  background-image: url(asset-path("banner4.jpeg"));
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #4f4f4f;
  text-align: center;

  img {
    float: left;
    width: 130px;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#colums {
  background-image: url(asset-path("main.jpeg"));
  //background: #141;

  #main {
    //background-image: url(asset-path("main.jpeg"));
    margin-left: 20em;
    padding: 1em;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background-image: url(asset-path("grey_coob.png"));
    padding-right: 5em;

    .time {
      background-image: url(asset-path("banner_left"));
    }

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: #63c8ff;

      table {
        border-top: 2px dotted #006ba6;
        border-bottom: 2px dotted #006ba6;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #f7c800;
          font-size: small;
        }
      }
    }
  }
}

.depot_form {
  fieldset {
    .field {
      color: #000000;
    }
    background-image: url(asset-path("admin_back.jpeg"));
    legend {
      color: #000000;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 4em;
    }
    .submit {
      margin-left: 4em;
    }
    br {
      display: none;
    }
  }
}

.locale {
  float: right;
  margin: -0.25em 0.1em;
}

.logout {
  float: right;
  margin: -0.25em 0.1em;
}

.login {
  float: right;
  margin-right: 1em;
}

.time {
  color: white;
  font-size: smaller;
}
